//--stype base 
// stype background
body{
    background-color: $color-background;
    color: $color-text;
    a{
      color: $color-link;
    }
  }
 
  //-MAIN---Main content
div.region.region-content{
  margin-top: 20px;
  min-height: 600px;
}


  header.navbar{
    background-image: none;
    border: none;
    background-color: #2a455d;
  }

//navbar header
//----Style search block
.navbar-header{
  background-color: #2a455d;
  width: 100%;
  margin-top: 18px;
}

//Footer
.footer{
  border-top: 1px solid #5c5b5b;
}

@media (min-width:768px) {
  .container{
    width: 100%;
  }
}
@media (min-width:992px) {
  .container{
    width: 100%;
  }
}
@media (max-width:1200px) {
  .container{
    width: 100%;
  }
}