
// header
.header-container{
  background-color: #2a455d;
  padding-bottom: 15px;
  margin-bottom: 20px;
  header.navbar{
      background-image: none;
      border: none;
      background-color: #2a455d;
  }
}

//navbar header
//----Style search block
.navbar-header{
  background-color: #2a455d;
  width: 100%;
  margin-top: 18px;
}

