//--set variable of css
// color
$color-background:#16202c;
$color-link: #29bffd;
$color-header:#2a455d;
$color-hover-border: #47a6ff;
$color-hover-playlist:#215174;
$color-text: #fff;
$color-category:#233c52;
