
//----HOME-----
.view {
//-MAIN---Main content

  //-MANIN--------New game
  .view-header{
    border: none;
    padding: 4px 6px 2px 8px;
    border-radius: 10px;
    height: 30px;
    font-size: 1.4rem;
    margin: 4px 0px 6px 0px;
    .home-block--title{
        color: #fff;
        position: relative;
        font-weight: 600;
        font-size: 10px;
        text-transform: uppercase;
        font-family: "Source Sans Pro", "Lucida Grande", Verdana, sans-serif;
    }
  }
  .view-content{
    .block-content div{
      color: #fff;
      font-size: 16px;
      font-family: "Source Sans Pro", "Lucida Grande", Verdana, sans-serif;
      line-height: 30px;
      margin: 10px;
    }
  }



}
//----NODE-----
//--Layout node page
//---- sidebar first
.sidebar-first.col-sm-2{
  width: 12%;
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0px 0px 0px;
}

//--- main content
.content.col-sm-7{
  padding: 0px;
  width: 66%;
}

//---- sidebar second
.sidebar-second.col-sm-3{
  padding: 0px;
  width: 22%;
  margin: 20px 0px 0px 0px;
}

//--- game suggestion main
.view-game-detail.view-id-game_detail{
  .view-content{
    margin: 15px 0px;
  }
  .view-display-id-block_2>.view-content{
    background: $color-header;
  }
  //--iframe main play
  &.view-display-id-block_3>.view-content{
      margin: 15px 0px 0px 0px;
      background: black;
  }

  //--iframe footer rating and button play, maximize
  .view-display-id-block_6{
    .view-content{
      margin: 0px;
      background: black;
      padding: 20px 20px 10px 20px;
      .views-row{
        display: flex;
        align-items: center;
        justify-content: end;
        //--- game title
        .views-field-title{
          margin-right: auto;
          font-size: 20px;
          font-weight: 600;
          padding: 0px 20px;
        }
        //--- rating
        .views-field-node-rate-widget-field{
          padding: 0px 30px;
          font-size: 15px;  
        }
        .views-field-node-rate-widget-field-1{
          padding: 0px 20px;
          font-size: 15px;
          .thumbsupdown-rating-wrapper>div:first-child{
            display: none;

          }
          
        }
        //--- button maximize and play
        .views-field-field-font-icon{
          .fontawesome-icons{
            display: flex;
            align-content: space-between;
            justify-items: center;
            font-size: 23px;
            .fontawesome-icon{
              padding: 0px 20px;
            }
          }
        }
      }
    }
  }
}
  

//- category list page: view game new
//-- use grid layout view
.blazy.blazy--view{ 
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  .grid{
    margin: 2px;
    padding: 0px;
      .views-field-field-service1-image{
      border-radius: 6px;
      overflow: hidden;
      position: relative;
      border: 2px solid transparent;
      .img-responsive{
        width: 100%;
      }
    }
    .views-field-title{
      position: absolute;
      bottom: 0px;
      font-size: 14px;
      width: 100%;
      padding-left: 10px;
      background: radial-gradient(rgba(255, 255, 255, 0.15), rgba(0, 0, 0, 0.3));
      display: none;
    }
    &:hover{
      .views-field-field-service1-image{
        border: 2px solid $color-hover-border;
      }
      .views-field-title{
        display: block;
        a{
          color: #fff;
        }
      }
    }
  }
  
}