/*
 * Style css for slick carousel
 *
 * Instructions:
 *
 *-NODE
 *-slick title
 *--slick list
 *--slick arrow
 */
.slick{
  .slick-dotted.slick-slider{
    margin:0px 20px 0px 5px;

    //- style dot button page
    .slick-dots button{
      display: none;  
    }
  }

  //-style arrow next previous
  .slick__arrow{
    height: 100%;
    margin: 0px;
    .slick-arrow{
      // height: 100%;
      // margin: 0px;
      button{
        visibility: hidden;
        
      }
      &::before{
        opacity: 0;
      }
      &.slick-prev{
        opacity: 0.1;
        transition: opacity .25s ease,background-color .25s ease;
        // background-color: #2a455d;
        background-position: 50%;
        background-image: url(../images/previous.svg);
        position: absolute;
        color: transparent;
        height: 102%;
        background-repeat: no-repeat;
        color: transparent;
        border: 0;
        z-index: 1;
        border-radius: 0;
        outline-color: initial;
        outline-style: none;
        outline-width: 0;
        left: -26px;
        visibility: visible;
        background-size: 10px;
        &:hover{
          opacity: 1;
          background-color: #2a455d;
          background-size: 20px;
        }
      }
      &.slick-next{
        right: -12px;
        opacity: 0.1;
        transition: opacity .25s ease,background-color .25s ease;
        background-position: 60%;
        background-image: url(../images/next.svg);
        position: absolute;
        color: transparent;
        height: 102%;
        background-repeat: no-repeat;
        color: transparent;
        border: 0;
        z-index: 1;
        border-radius: 0;
        outline-color: initial;
        outline-style: none;
        outline-width: 0;
        visibility: visible;
        background-size: 10px;
        &:hover{
          opacity: 1;
          background-color: #2a455d;
          background-size: 20px;
        }
      }
    }
  }
  
  
  
}

//-- Home
.view-home.view-id-home, .view-home-playlist,  .view-game-detail.view-display-id-block_7{
  .slick-list{
    .slick__slide.slide{
      border-radius: 10px;
      overflow: hidden;
      margin: 0px 3px;
      border: 3px solid transparent;
      .views-field.views-field-title{
        display: none;
        position: absolute;
      }
      
      &:hover{
        .views-field.views-field-title{
          position: absolute;
          top: 80px;
          display: -ms-flexbox;
          display: flex;
          -ms-flex-align: end;
          font-size: 14px;
          width: 100%;
          height:100%;
          padding-left: 4px;
          background: #2a455d57;
          a{
            color: #fff;
            text-decoration: none;
          }
        }
      }
    }
  }
}



